<a href="https://colab.research.google.com/github/jkeomany/1_Intro_to_Python_Project/blob/main/Group25Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Introduction

Household spending is a key indicator of economic health and a critical factor in shaping the direction of the economy. It refers to the amount of money that individuals or families spend on goods and services to meet their daily needs and wants. It includes all types of purchases made by household, such as food, clothing, housing, transportation, health care, education and other expenses. It represents a significant portion of consumer demand and drives economic growth. When households have more money to spend, they will increase their expenses and lead to increased economic activity and job creation. It is really important to study for our economy. 

In this paper, we aim to analyze the relationship between household spending and employment by industry using ordinary least squares (OLS) model. Our goal is to study and examine how changes in employment by industry affect household spending patterns and how purchasing power differs workers in different sectors, such as goods-producing sector and services-producing sector. We believe the model can help researchers and policymakers better understand consumer behavior and preferences, which can also inform marketing strategies and product development.

In the following section, we will discuss the data sources and variables used in our analysis and followed by the methodology for estimating the OLS model. Then, we will present the results of our analysis, including the coefficients of the model, measures of goodness-of-fit, and statistical significance. We will interpret these results and provide insights into the key findings of the study. 
Finally, we will discuss the implications of our findings for the economic policy, businesses decisions, and possible future research in the conclusion section. Overall, this paper aims to focus on the relationship between household spending and employment by industry and provide valuable insights for policymakers, businesses, and investors.

*Modelling*

In [ ]:
import pandas as pd
import numpy as np

# Canadian Data 
# Import and clean the data set
df_can = pd.read_csv("can_data.csv")

## Make a list of columns to drop
drop_list = ['DGUID','Statistic','UOM','UOM_ID','SCALAR_FACTOR','SCALAR_ID','VECTOR','COORDINATE','STATUS','SYMBOL','TERMINATED','DECIMALS']
## The columns in drop list were removed from the statistical analysis because the columns did not provide value for the regression model and was not informative.

## Make the Canadian household expenditures dataframe
df_can = df_can.drop(drop_list, axis=1)

## Rename long and unclear column names
df_can.rename(columns={"Household expenditures, summary-level categories": "Household expenditures"}, inplace=True)

df_can.head()

   REF_DATE     GEO Household expenditures  VALUE
0      2010  Canada      Total expenditure  72075
1      2011  Canada      Total expenditure  73646
2      2012  Canada      Total expenditure  75695
3      2013  Canada      Total expenditure  79098
4      2014  Canada      Total expenditure  80727

In [ ]:
# US Data https://www.bls.gov/cex/tables.htm
# Import and clean the data set
df_us = pd.read_excel("cu-all-multi-year-2013-2020.xlsx",header=0)

## Replace the header with the year data
new_header = df_us.iloc[1] # Select where the year data row
df_us = df_us.iloc[2:] # Replace the dataframe with 2 headers removed
df_us.columns = new_header # Set the new header
df_us = df_us.iloc[43:] # Remove consumer characteristics and percent distribution data

## Drop NA values
df_us = df_us.dropna()
df_us = df_us.reset_index(drop=True)

## Remove the Item column
df_us = df_us.drop('Item',axis=1)

df_us.head()

/usr/local/lib/python3.9/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

1   2013   2014   2015   2016   2017   2018   2019   2020
0  51100  53495  55978  57311  60060  61224  63036  61334
1   6602   6759   7023   7203   7729   7923   8169   7316
2   3977   3971   4015   4049   4363   4464   4643   4942
3    544    519    518    524    564    569    583    640
4    185    176    172    172    176    178    184    212

In [ ]:
# US Data 2
# Import and clean the data set
df_us2 = pd.read_excel("cu-all-multi-year-2006-2012.xlsx",header=0)

## Replace the header with the year data
new_header = df_us2.iloc[1] # Select where the year data row
df_us2 = df_us2.iloc[2:] # Replace the dataframe with 2 headers removed

## Fix the header
new_header[3:6] = 2800, 2009, 2010 # Removes the decimals from columns
df_us2.columns = new_header # Set the new header
df_us2 = df_us2.iloc[43:] # Remove consumer characteristics and percent distribution data

## Drop NA
df_us2 = df_us2.dropna()
df_us2 = df_us2.reset_index(drop=True)

## Merge df_us and df_us2
merged_df = pd.concat([df_us2,df_us],axis=1)

merged_df.head()

1,Item,2006,2007,2800,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Average annual expenditures,48400,49638,50486.0,49067.0,48109.0,49705,51442,51100,53495,55978,57311,60060,61224,63036,61334
1,Food,6111,6133,6443.0,6372.0,6129.0,6458,6599,6602,6759,7023,7203,7729,7923,8169,7316
2,Food at home,3417,3465,3744.0,3753.0,3624.0,3838,3921,3977,3971,4015,4049,4363,4464,4643,4942
3,Cereals and bakery products,446,460,507.0,506.0,502.0,531,538,544,519,518,524,564,569,583,640
4,Cereals and cereal products,143,143,170.0,173.0,165.0,175,182,185,176,172,172,176,178,184,212

Result

Conclusion

Summary